# modified from:
# https://github.com/leonardt/fault/blob/master/.travis.yml
# https://github.com/softwaresaved/recipy/blob/master/.travis.yml
# https://blog.travis-ci.com/2019-08-07-extensive-python-testing-on-travis-ci

# specify python version
language: python
python:
  - 3.7

# specify platform(s)
matrix:
  include:
  - os: linux
    addons:
      apt:
        packages:
        - libusb-1.0.0-dev
        - libudev-dev
# Travis does not currently support Python for macOS...
#  - os: osx
#    addons:
#      homebrew:
#        packages:
#          - libusb

before_install:
- python --version
- pip install -U pip
- pip install -U pytest
- pip install -U pillow

install:
- pip install -e .

script:
- pytest -v tests
